alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias rmmodules="rm -rf ./**/node_modules"
alias rmlocalScreenshots="rm -rf ./**/__screenshots-ct__/darwin"
alias rmct="rm -rf ./**/*.test-visual.page.tsx"
alias rmc="rm -rf ./**/*.test-visual.tsx"
alias sortpackage="npx sort-package-json"
alias h="history"
alias j="jobs"
alias pm="pnpm"
alias mkabridge="ssh mka@mka.local"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

alias ls='colorls'